<!-- lancia i 3 nodi e apre rviz -->
<!-- l'unico comando per far partire il progetto dovrebbe essere: roslaunch first_project launch.launch -->

<launch>

    <group ns="group1"> <!-- creiamo questo namespace: mi permette di far partire molti nodi con lo stesso nome in diversi namespace-->
     <node pkg="first_project" type = "gps_to_odom" name = "gps_to_odom"/> <!-- facciamo partire il nodo, forse il nome del package non è giusto-->

     <remap from="original" to="new"> <!-- serve per fare renaming di un topic (questa non è la sintassi corretta, bisogna scriverlo dentro a node)-->
    </group>

</launch>